<button pButton (click)="addStage()" icon="pi pi-plus-circle" label="Ajouter Stage" pRippler type="button"></button>

<p-dialog header="Ajouter un Stage" [(visible)]="displayAddModal" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <form [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="isShown">

        <span class="p-float-label">
            <input type="text" maxlength="100" id="titre" formControlName="titre" pInputText>
            <label for="titre">Titre : </label>
        </span>

        <label for="dateDebut"> Date de Début : </label>
        <div id="dateDebut">
            <p-dropdown [options]="days" formControlName="jourDebut" id="jourDebut"></p-dropdown>
            <p-dropdown [options]="months" formControlName="moisDebut" id="moisDebut"></p-dropdown>
            <p-dropdown [options]="years" formControlName="anneeDebut" id="anneeDebut"></p-dropdown>
        </div>

        <label for="dateFin"> Date de Fin : </label>
        <div id="dateFin">
            <p-dropdown [options]="days" formControlName="jourFin" id="jourFin"></p-dropdown>
            <p-dropdown [options]="months" formControlName="moisFin" id="moisFin"></p-dropdown>
            <p-dropdown [options]="years" formControlName="anneeFin" id="anneeFin"></p-dropdown>
        </div>

        <label for="heureDebut">Heure de Début : </label>
        <div id="heureDebut">
            <p-dropdown [options]="hours" formControlName="heureDebut" id="heureDebut"></p-dropdown>
            <p-dropdown [options]="minutes" formControlName="minutesDebut" id="minutesDebut"></p-dropdown>
        </div>

        <label for="heureFin">Heure de Fin : </label>
        <div id="heureFin">
            <p-dropdown [options]="hours" formControlName="heureFin" id="heureFin"></p-dropdown>
            <p-dropdown [options]="minutes" formControlName="minutesFin" id="minutesFin"></p-dropdown>
        </div>

        <div>
            <label for="prixAffilies">Prix Affiliés : </label>
            <p-inputNumber [showButtons]="true" mode="currency" currency="EUR" [step]="0.5" [min]="0" formControlName="prixAffilies" id="prixAffilies"></p-inputNumber>
        </div>

        <div>
            <label for="prixExternes">Prix Externes : </label>
            <p-inputNumber [showButtons]="true" mode="currency" currency="EUR" [step]="0.5" [min]="0" formControlName="prixExternes" id="prixExternes"></p-inputNumber>
        </div>

        <span class="p-float-label">
            <input type="text" maxlength="50" id="entraineur" formControlName="entraineur" pInputText>
            <label for="titre">Entraineur : </label>
        </span>

        <div>
            <label for="nombreMax">Nombre Max : </label>
            <p-inputNumber [showButtons]="true" [min]="0" formControlName="nombreMax" id="nombreMax"></p-inputNumber>
        </div>

        <label style="display: block;" for="description">Description : </label>
        <textarea pInputTextarea formControlName="description" id="description" rows="10" maxlength="1500"></textarea>

        <label for="classementMinimum">Classement Minimum : </label>
        <div>
            <p-dropdown [options]="listeClassements" formControlName="classementMinimum" id="classementMinimum"></p-dropdown>
        </div>

        <label for="classementMaximum">Classement Maximum : </label>
        <div>
            <p-dropdown [options]="listeClassements" formControlName="classementMaximum" id="classementMaximum"></p-dropdown>
        </div>

        <button pButton type="submit" routerLink="../stage-admin" pRipple label="Valider" icon="pi pi-check-circle"></button>

    </form>
</p-dialog>

<p-table [value]="listeStages">
    <ng-template pTemplate="header">
        <tr>
            <th>Titre</th>
            <th>Date de Début</th>
            <th>Date de Fin</th>
            <th>Heure de Début</th>
            <th>Heure de Fin</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stage>
        <tr>
            <td>{{stage.titre}}</td>
            <td>{{stage.dateDebut | date : 'dd/MM/yyyy'}}</td>
            <td>{{stage.dateFin | date : 'dd/MM/yyyy'}}</td>
            <td>{{stage.heureDebut}}</td>
            <td>{{stage.heureFin}}</td>
            <td><button pButton (click)="detailsAnnonce()"></button></td>
            <td></td>
        </tr>
    </ng-template>
</p-table>