<button (click)="navigateToJoueur()">Gérer les Joueurs</button>
<p>Créer des joueurs, Modifier des joueurs, Supprimer des Joueurs</p>

<button (click)="navigateToAnnonce()">Gérer les Annonces</button>
<p>Créer des annonces, Modifier des annonces, Supprimer des annonces</p>

<button (click)="navigateToClassement()">Gérer les Classements</button>
<p>Créer des classements, Modifier des classements, Supprimer des classements</p>

<button (click)="navigateToStage()">Gérer les Stages</button>
<p>Créer des stages, Modifier des stages, Supprimer des stages</p>