<p>classement-admin works!</p>

<h4>Classements Hommes</h4>

<ul>
    <li *ngFor="let classement of listeClassementsHommes">{{classement.denomination}}</li>
</ul>

<h4>Classements Dames</h4>

<ul>
    <li *ngFor="let classement of listeClassementsDames">{{classement.denomination}}</li>
</ul>

<button (click)="showForm()">Ajouter Classement</button>

<form [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="isShown">
    <label for="denomination">Nouveau Classement : </label>
    <input type="text" maxlength="2" required name="denomination" id="denomination" formControlName="denomination">

    <button type="submit" [disabled]="formGroup.invalid">Valider</button>
</form>