<button pButton (click)="addAnnonce()" icon="pi pi-plus-circle" label="Ajouter Annonce" pRipple type="button"></button>

<p-dialog header="Ajouter une Annonce" [(visible)]="displayAddModal" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <form [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="isShown">

        <span class="p-float-label">
            <input type="text" maxlength="255" id="titre" formControlName="titre" pInputText>
            <label for="titre">Titre : </label>
        </span>

        <label for="photo">Photo : </label>
        <button type="button" (click)="clickPhoto()">Ajouter Image</button>
        <input #photo type="file" name="photo" id="photo" (change)="imageConversion($event)" hidden>
        <p *ngIf="formGroup.get('mimeType')?.errors?.MimeTypeError">Fichier non valide...</p>
        <p *ngIf="formGroup.get('fileSize')?.errors?.SizeError">Le fichier doit être inférieur à 2 Mo</p>
        <p *ngIf="!formGroup.get('photo')?.value">Choisir une image...</p>
        <p-tag value="Image enregistrée" severity="success" icon="pi pi-check" *ngIf="formGroup.get('photo')?.value"></p-tag>
        <img [src]="blob" *ngIf="blob">

        <label style="display: block;" for="description">Description : </label>
        <textarea pInputTextarea formControlName="description" id="description" rows="10" maxlength="1500"></textarea>

        <button pButton type="submit" [disabled]="formGroup.invalid" routerLink="../annonce-admin" pRipple label="Valider" icon="pi pi-check-circle"></button>
    </form>
</p-dialog>

<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText type="text" placeholder="Recherche..." [(ngModel)]="stringRecherche" id="search-bar">
</span>

<p-dialog header="Modifier une Annonce" [(visible)]="displayEditModal" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <form [formGroup]="formGroup" (ngSubmit)="confirmEditAnnonce()" *ngIf="isShown">

        <span class="p-float-label">
            <input type="text" maxlength="255" id="titre" formControlName="titre" pInputText>
            <label for="titre">Titre : </label>
        </span>

        <label for="photo">Photo : </label>
        <button type="button" (click)="clickPhoto()">Ajouter Image</button>
        <input #photo type="file" name="photo" id="photo" (change)="imageConversion($event)" hidden>
        <p *ngIf="formGroup.get('mimeType')?.errors?.MimeTypeError">Fichier non valide...</p>
        <p *ngIf="formGroup.get('fileSize')?.errors?.SizeError">Le fichier doit être inférieur à 2 Mo</p>
        <p *ngIf="!formGroup.get('photo')?.value">Choisir une image...</p>
        <p-tag value="Image enregistrée" severity="success" icon="pi pi-check" *ngIf="formGroup.get('photo')?.value"></p-tag>

        <div>
            <label style="display: block;" for="description">Description : </label>
            <textarea pInputTextarea formControlName="description" id="description" rows="10" maxlength="1500"></textarea>
        </div>

        <button pButton type="submit" [disabled]="formGroup.invalid" routerLink="../annonce-admin" pRipple label="Valider" icon="pi pi-check-circle"></button>

    </form>
</p-dialog>

<p-dialog *ngIf="selectedAnnonce" header="{{selectedAnnonce.titre}}" [(visible)]="displayDetailsModal" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '50vw'}">
    <div id="details-buttons">
        <button pButton type="button" (click)="showEditAnnonce(selectedAnnonce.id)" icon="pi pi-pencil" label="Modifier" pRipple></button>
        <button pButton type="button" (click)="deleteAnnonce(selectedAnnonce.id)" icon="pi pi-trash" label="Supprimer" pRipple></button>
        <img class="annonce-photo" src="{{selectedAnnonce.id.toString() | image : 'Annonce'}}" alt="">
        <div [innerText]="selectedAnnonce.description"></div>
    </div>
</p-dialog>

<p-table [value]="listeAnnonces">
    <ng-template pTemplate="header">
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-annonce>
        <tr>
            <td><img class="annonce-photo" src="{{annonce.id | image : 'Annonce'}}{{timeStamp?'?ts='+timeStamp:''}}"></td>
            <td>{{annonce.titre}}</td>
            <td><button pButton (click)="showDetailsAnnonce(annonce.id)" type="button" pRipple icon="pi pi-info" label="Détails"></button></td>
        </tr>
    </ng-template>
</p-table>