<ul>
    <li *ngFor="let annonce of listeAnnonces" class="list-annonce">
        <img class="annonce-photo" src="http://localhost:51627/api/Annonce/image/{{annonce.id}}">
        <span>{{annonce.titre}}</span>
        <div><button class="list-button">Modifier</button><button (click)="deleteAnnonce(annonce.id)" class="list-button">Supprimer</button></div>
    </li>
</ul>

<button (click)="showForm()">Ajouter Annonce</button>

<form [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="isShown">
    <label for="titre">Titre : </label>
    <input type="text" maxlength="255" name="titre" id="titre" formControlName="titre">

    <label for="photo">Photo : </label>
    <input type="file" name="photo" id="photo" (change)="imageConversion($event)">
    <p *ngIf="formGroup.get('mimeType')?.errors?.MimeTypeError">Fichier non valide...</p>
    <p *ngIf="formGroup.get('fileSize')?.errors?.SizeError">Le fichier doit être inférieur à 2 Mo</p>

    <label for="description">Description : </label>
    <textarea formControlName="description" id="description" rows="10" maxlength="1500"></textarea>

    <button type="submit" [disabled]="formGroup.invalid">Valider</button>
</form>