/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Quicksand';
    src: url(./assets/fonts/Quicksand_Book.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color : #015EAB;
    width: 900px;
    margin: 0 auto;
    color: #C6D0E9;
}

button {
    background-color: #C6D0E9;
    padding: 5px 5px;
    display: block;
    border: none;
    border-radius: 5px;
    margin-top : 25px;
    margin-bottom: 15px;
    color: #015EAB;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

header {
    text-align: center;
}

img {
    width: 75%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

footer {
    background-color: #C6D0E9;
    color: #015EAB;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
}