/*You can add global styles to this file, and also import other style files*/

@font-face {
    font-family: 'Quicksand';
    src: url(./assets/fonts/Quicksand_Book.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 900px;
    margin: 0 auto;
    position: relative;

}

footer {
    position: absolute;
    width: 900px;
    bottom: 0;
    height: 30px;
    background-color: #0D89EC;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
}

header img {
    width: 70%;
    border-radius: 10px;
}

textarea {
    resize : none;
}

.content {
    padding-bottom: 50px;
}

.p-float-label {
    margin-top: 20px;
}