<p>joueur-admin works!</p>

<button (click)="afficherListeJoueurs()">Console.Log(Liste de joueurs)</button>

<ul>
    <li *ngFor="let joueur of listeJoueurs">{{joueur.nom}} {{joueur.prenom}} | Classement : {{joueur.classementHommes}} - {{joueur.classementDames}}</li>
</ul>

<button (click)="activerForm()">Ajouter Joueur</button>

<form [formGroup]="formGroup" (ngSubmit)="submit()" *ngIf="isShown">

    <label for="nom">Nom : </label>    
    <input type="text" maxlength="50" name="nom" id="nom" formControlName="nom">
    <p *ngIf="formGroup.controls['nom'].invalid">Invalide</p>

    <label for="prenom">Prénom : </label>
    <input type="text" maxlength="50" name="prenom" id="prenom" formControlName="prenom">
    <p *ngIf="formGroup.controls['prenom'].invalid">Invalide</p>


    <label for="genre">Genre : </label>
    <select name="genre" id="genre" formControlName="genre" [(ngModel)]="selectedGenre" (change)="changeEvent($event)">
        <option disabled selected value> - </option>
        <option value="Homme">Homme</option>
        <option value="Dame">Dame</option>
    </select>

    <label for="classement-hommes">Classement Hommes : </label>
    <select name="classement-hommes" id="classement-hommes" formControlName="classementHommes">
        <option disabled selected value> - </option>
        <option *ngFor="let classement of listeClassementsHommes" [ngValue]="classement.id">{{classement.denomination}}</option>
    </select>

    <label for="classement-dames">Classement Dames : </label>
    <select name="classement-dames" id="classement-dames" formControlName="classementDames">
        <option selected value> - </option>
        <option *ngFor="let classement of listeClassementsDames" [ngValue]="classement.id">{{classement.denomination}}</option>
    </select>

    <label for="categorie-age">Catégorie d'âge : </label>
    <select name="categorie-age" id="categorie-age" formControlName="categorieAge">
        <option disabled selected value> - </option>
        <option *ngFor="let cat of listeCategoriesAges" [ngValue]="cat.id">{{cat.nom}}</option>
    </select>

    <button type="submit" [disabled]="!formGroup.valid">Valider</button>
</form>